/* Navbar css */
.navbarContainer header.MuiPaper-elevation4 {
    padding-right: 1.5% ;
    box-shadow: 0px 0px 1px 0px #E1F3F7, 0px 0px 0px 1px #36b0c966, 0px 1px 1px 0px #E1F3F7;
}
.navbarContainer .MuiToolbar-gutters {
    padding-left: 0px;
    padding-right: 0px;
}
.navbarContainer  .MuiToolbar-regular {
    line-height: 35px;
    min-height: 35px;
}
@media (min-width: 600px){
    .navbarContainer .MuiToolbar-regular {
        min-height: 56px;
    }
}
.navbarContainer{
    z-index: 99999999;
    position: relative;
}
.navbarContainer .MuiTypography-root {
    padding: 7.5px 6px;
    background-color: #98012e;
}
.navbarContainer .MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #ffff;
}
.navbarContainer .MuiSvgIcon-root{
    fill: #fff;
    stroke: #B3B3B3;
    stroke-width: 2px;
}
.navbarContainer .MuiBadge-badge.MuiBadge-anchorOriginTopRightRectangle{
    color: #1B5865;
}
.navbarContainer .makeStyles-sectionDesktop-4{
    display: flex;
    justify-content: flex-end;
    width: 9%;
}
.navbarContainer .MuiInput-underline:before{
    border-bottom: unset;
}
.navbarContainer .MuiInput-underline:after{
    border-bottom: unset;
}
.navbarContainer .MuiInput-underline:hover{
    border-bottom: unset;
}
header{
    padding-right: 1%;
}

/* TabNav */
.navbarTab .MuiTab-root{
    min-width: 90px;
    line-height: 3.812;
    padding: 1px 12px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
}
.navbarTab{
    margin-left: 15px;
}
.navbarTab .MuiTab-textColorPrimary{
    color: #36B0C9;
}
.navbarTab .PrivateTabIndicator-colorPrimary-265{
    background-color: #1B5865;
}
.navbarTab .MuiTab-textColorPrimary.Mui-selected{
    color: #1B5865;
    background-color: #E1F3F7;
}
.navbarTab .MuiTabs-indicator{
    background-color: #1B5865 !important;
}
.mh-logo{
    width: 150px !important;
    height: 56px !important;
}
